html{scroll-behavior:smooth}

header {
    color: white;
    background-color: black;
    height: auto;
    width: auto;
    float: none;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 150px;
    padding-right: 150px;
    font-family: 'Roboto', sans-serif;


 
    
}

.main_button:hover {
    opacity: 0.5;
    transition-duration: .7s;
    background-color: #F2EBDF;
    color: black;
}

.main_button:not(:hover) {
    transition-duration: .7s;
}

.logo {
    height: 60px;
}


a {
    text-decoration: none;
    color: white;
}
nav {
    color: rgba(255,255,255,1.00);  
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 1px;
    font-weight: 300;

      
    
}

nav ul {
    padding-left: 50px;
    color: rgba(255,255,255,1.00);

    
}

ul:hover {
    font-weight: 400;
    font-size: 110% ;
    transition-duration: .7s;
}

ul:not(:hover) {
    font-weight: 300;
    font-size: 100% ;
    transition-duration: .7s;
}


.background {
    background-color: black;
    /* background-image: url(images/header_photo.jpg); */
    background-position: top center;
    color: white;
    height: 100px;
    
}

.back {    background-image: url(images/header_photo.jpg);
        display: block;
    /* margin-left: auto;
    margin-right: auto; */
    height: 600px;
    width: 100%;
    text-align: center;

}


.header_text {
    padding-top: 200px;
    border-bottom: 1px solid white;
    padding-bottom: 40px;
}

.trendy, .wnetrza, .main_button {
    padding-top: 0px;
}

.trendy {
    font-family:  'Viaoda Libre', cursive;
    font-size: 25px;
    letter-spacing: 6px;
    font-weight: 200;
    margin-top: 20px;
}

.wnetrza {

    font-family: 'Roboto', sans-serif;
    letter-spacing: 6px;
    font-size: 80px;
    font-weight: 250;
    padding-top: 20px;
    padding-bottom: 10px;
}

.main_button {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 4px;
    font-weight: 400;
    border-radius: 10px  ;
    border: 1px solid white;
    align-items: center;
    display: inline-block;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 30px;
    padding-left: 38px;
    margin-top: 30px;
}

.container_projekt {
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.nasze_projekty {
    margin-left: 20%;
    margin-right: 40px;
}

.header_projekt {
    font-family:  'Viaoda Libre', cursive;
    font-size: 100px;
    margin-bottom: 20px;
    font-weight: 200;
    letter-spacing: 5px;
}



.tekst1 {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    line-height: 150%;
    font-weight: 300;
    margin-right: 30px;
}

.salon1_img {
    margin-left: 50px;
    height: 500px;
    border-left: 1.5px solid black;
    margin-right: 20%;
}

.salon1 {
    margin-left: 50px;
    height: 500px;

}

.salon1:hover {
    height: 110%;
    transition-delay: 0.3s;
    transition-duration: 0.6s;
    animation-duration: 2s;
    margin-left: -20px;
    
}

.salon1:not(:hover) {
    transition-duration: 0.6s;
    height: 100%;
}
