header {
    color: white;
    background-color: black;
    height: auto;
    width: auto;
    float: none;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 150px;
    padding-right: 150px;
    font-family: 'Roboto', sans-serif;


 
    
}

header:hover {
    opacity: 1.0;
}

.logo {
    height: 60px;
}

a {
    text-decoration: none;
    color: white;
}
nav {
    color: rgba(255,255,255,1.00);  
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 3px;
    font-weight: 300;

      
    
}

nav ul {
    padding-left: 60px;
    color: rgba(255,255,255,1.00);

    
}

.background {
    background-color: black;
    /* background-image: url(images/header_photo.jpg); */
    background-position: top center;
    color: white;
    height: 100px;
    
}

.back {    background-image: url(images/header_photo.jpg);
        display: block;
    /* margin-left: auto;
    margin-right: auto; */
    height: 600px;
    width: 100%;
    text-align: center;

}


.header_text {
    padding-top: 200px;
    border-bottom: 1px solid white;
    padding-bottom: 40px;
}

.trendy, .wnetrza, .main_button {
    padding-top: 0px;
}

.trendy {
    font-family:  'Viaoda Libre', cursive;
    font-size: 25px;
    letter-spacing: 6px;
    font-weight: 200;
    margin-top: 20px;
}

.wnetrza {

    font-family: 'Roboto', sans-serif;
    letter-spacing: 6px;
    font-size: 80px;
    font-weight: 250;
    padding-top: 20px;
    padding-bottom: 10px;
}

.main_button {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 4px;
    font-weight: 400;
    border-radius: 10px  ;
    border: 1px solid white;
    align-items: center;
    display: inline-block;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 30px;
    padding-left: 38px;
    margin-top: 30px;
}