html{
    scroll-behavior:smooth
}

header {   
    position: fixed;
    color: white;
    background-color: black;
    height: auto;
    width: 100%;
    float: none;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    opacity: .6;
    
  
}


nav {
    color: rgba(255,255,255,1.00);  
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 1px;
    font-weight: 300;
    margin-right: 40px;
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

a {
    text-decoration: none;
    color: white;
}

nav ul {
    padding-left: 50px;
    color: rgba(255,255,255,1.00);
    
}

ul:hover {
    font-weight: 400;
    font-size: 110% ;
    transition-duration: 1s;

}

ul:not(:hover) {
    font-weight: 300;
    font-size: 100% ;
    transition-duration: .7s;
}


.main {
    background-color: black;
    /* background-image: url(images/header_photo.jpg); */
    /* background-position: top center; */
    color: white;
    height: 100px;
    
}

.back {    
    background-image: url(images/header_photo.jpg);
    display: block;
    width: 100%;
    text-align: center;
    padding-bottom: 40px;
}


.header_text {
    margin-top: -50px;
    padding-top: 170px;
    border-bottom: 1px solid white;
    padding-bottom: 30px;
}

.trendy, .wnetrza, .main_button {
    padding-top: 0px;
}

.trendy {
    font-family:  'Viaoda Libre', cursive;
    font-size: 25px;
    letter-spacing: 6px;
    font-weight: 200;
    margin-top: 20px;
}

.wnetrza {

    font-family: 'Roboto', sans-serif;
    letter-spacing: 6px;
    font-size: 80px;
    font-weight: 250;
    padding-top: 20px;
    padding-bottom: 10px;
}

.main_button {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 4px;
    font-weight: 400;
    border-radius: 10px  ;
    border: 1px solid white;
    align-items: center;
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 30px;
    padding-left: 38px;
    margin-top: 30px;
}

.main_button:hover, #my_button:hover {
    opacity: 0.5;
    transition-duration: .7s;
    background-color: #F2EBDF;
    color: black;
}

.main_button:not(:hover), #my_button:not(:hover), #my_button2:not(:hover) {
    transition-duration: .7s;
}

#empty {
    height: 60px;
}
.container {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;

}
#my_container {
    margin-bottom: 70px;
}

.nasze_projekty {
    margin-top: 40px;
    margin-left: 20%;
    border-right: 1.5px solid black;
    padding-right: 10px;
    padding-left: 5px;
}

.header_projekt {

    margin-bottom: 20px;

    margin-right: 20px;
}

.naglowek {
    font-family:  'Viaoda Libre', cursive;
    font-size: 100px;
    font-weight: 200;
    letter-spacing: 5px;
    color: black;
}

.tekst1 {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    line-height: 150%;
    font-weight: 300;
    color: black;
}

.photo1 {
    height: 420px;
    margin-right: 20%;
    margin-top: 40px;
 }

.img1 {
    margin-left: 50px;
    height: 500px;
 

}

.img1:hover {
    height: 110%;
    transition-delay: 0.3s;
    transition-duration: 0.6s;
    margin-top: -20px;
    
}

.img1:not(:hover) {
        transition-duration: 0.6s;
        height: 100%;
}




.photo2 {
    display: flex;
    margin-top: 60px;
}

.img2_img {
        margin-right: 30px;
}
.img2 {
    height: 335px;
    margin-bottom: 30px;
}

.img2:hover {
    height: 360px;
    transition-delay: 0.3s;
    transition-duration: 0.6s;
    margin-top: -30px;
}

.photo3 {
        margin-left: 25px;
}

.img3 {
    height: 335px;
    margin-bottom: 30px;
}

.img3:hover {
    height: 360px;
    transition-delay: 0.3s;
    transition-duration: 0.6s;
    margin-top: -30px;
}
.img2:not(:hover) {
    transition-duration: 0.6s;
    height: 335px;
}

 .img3:not(:hover){
    transition-duration: 0.6s;
    height: 335px;
 }


 
.line {
    display: flex;
    border-top: 1.5px solid black;
    height: 20px;
    margin-top: 80px;
    margin-right: 35%;
    margin-left: 35%;
}


.naglowek2 {
    text-align: center;
    font-size:70px;
    letter-spacing: 15px;
    margin-top: 20px;
}

.tekst3 {
    color: black;
    text-align: center;
    margin-top: 30px;
    letter-spacing: 5px;
    font-size: 20px;
}

.img4 {
    /* background-image: url(images/img4.jpg);  */
    width: 100%;
    position: absolute;

}


#bezplatna_wycena {
    margin-top: 40px;
}

#my_button {
    background-color: black;
    text-align: center;
    position: relative;
    align-content: center;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 17%;
    /* margin-bottom: 140px; */
    border-color: blanchedalmond;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 60px;
    line-height:30px;
    font-size: 20px;
}

#my_button:hover {
    opacity: 0.7;
   
}


#line2 {
    margin-top:20%;
    border-color: white;
}

.tekst4 {
    margin-top: 30px;
    margin-right: 15%;
    margin-left: 15%;
    display: flex;
}


#img5 {
    height: 500px;
    /* margin-right: 20px; */
    margin-left: 40px;
    margin-top: -40px;
}

#img5:hover {
    height: 550px;
    margin-top: -50px;
    transition-delay: .3s;
    transition-duration: .7s;
}
#img5:not(:hover) {

    transition-delay: .3s;
    transition-duration: .7s;
}

.photo5 {
    margin-top: 80px;    
    display: flex;
    align-items: center;
   
}

#photo5 {
    border-right: 1.5px solid black;
    padding-right: 20px;
}

.tekst5 {
    margin-right: -20%;
    margin-left: 40px;
}

#wycena {
    font-size: 50px;
}

#my_button2 {
    color:black;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 4px;
    font-weight: 400;
    border-radius: 10px  ;
    border: 1.5px solid black;
    align-items: center;
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 30px;
    
}

#my_button2:hover {
    color: white;
    transition-delay: .3s;
    transition-duration: .7s;
    background-color: #BFBBB8;
    border-color: #BFBBB8;
}

#my_container2 {
    padding-right: 40px;
}

footer {
    margin-top: 10%;
    background-image: url(images/img6.jpg);
    width: 100%;
    height: 280px;
    display: flex;
    padding-left: 20%;
    padding-right: 20%;
}

.text-light {
    font-family:  'Viaoda Libre', cursive;
    letter-spacing: 4px;
}

#kontakt {
    margin-top: 5%;
}


#logo {
    height: 15%;
    margin-left: -10px;
}


#my_kontakt {
    color: white;
    margin-bottom: 10px;
}

.adres {
    display: flex;
    color: white;
    align-items: center;
}

.icon {
    width: 30px;
}



#map {
    
    margin-top: 5%;
}



@media (max-width: 600px) {
    .text-center{
      display: none;
    }
  }





